@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Actualcalc";
}
@model ActualCalculator.Models.Calcu  


<div class="text-center justify-content-center">
    <h1 class="display-4">Calculator</h1>
    <p></p>Actual Calculator</p>
</div>

<form asp-action="ActualCalc" method="post">
    <div class="text-center d-flex justify-content-center">
        <table>
            <tr>
                <td colspan="4">
                    <input asp-for="Expression" id="myTextbox" class="form-control text-center" placeholder="0" readonly />

                </td>
        </table>
    </div>

    <div class="text-center justify-content-center align-items-baseline">

        <button type ="button" class="btn btn-outline-dark mt-4" onclick="setValue('7')">7</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('8')">8</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('9')">9</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('+')">+</button>
        <br />
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('4')">4</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('5')">5</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('6')">6</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('-')">-</button>
        <br />
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('1')">1</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('2')">2</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('3')">3</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('*')">*</button>
        <br />
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('0')">0</button>
        <button type="button" class="btn btn-outline-dark mt-4" onclick="setValue('/')">/</button>
        <button type="button" class="btn btn-outline-warning mt-4" onclick="clearsingleValue('C')">C</button>
        <button type="button" class="btn btn-outline-danger mt-4" onclick="clearValue('CE')">CE</button>
        <br />
        <button type="submit" class="btn btn-outline-success mt-4">=</button>

    </div>
</form>

<script>
    function setValue(value) {
        document.getElementById("myTextbox").value += value;
    }

    function clearsingleValue(value) {
        var currentValue = document.getElementById("myTextbox").value;
        document.getElementById("myTextbox").value = currentValue.slice(0, -1);
    }

    function clearValue(value) {
        document.getElementById("myTextbox").value = "";
    }
</script>